button.chat-bubble#chat-bubble
  svg.icon(aria-hidden='true')
    use(xlink:href='svg-defs.svg#svg-speech-bubble')

.chat-module
  header
    img.chat-module-avatar(src=id ? '/images/user_avatar.png' : '/images/me.jpeg' width='50' height='50' alt='Default avatar image.')
    h1 Chatting with #{id ? 'User' : site_owner}

  .chat-body
    ul.messages

  form(action='' id=id ? 'my-admin-form' : 'my-form' method='POST')
    input(name='message' autocomplete='off' id='message' aria-label='Enter message.' placeholder='Message…' required)

audio(src="/click_sound.wav" id="click_sound" autostart="false")
