//- footer
//-   - var year = new Date().getFullYear();
//-   p.
//-     &copy; #{year} Simple Chat

script(src='/socket.io/socket.io.js')
script(src='/javascripts/socket.io.my.js')
script(src='/javascripts/svg4everybody.min.js')
script.
  svg4everybody();
