extends layout

block content
  .inner
    ul.breadcrumbs
      li Eat
      li Gluten-free
      li Breadcrumbs
    h2 Hallo from Deutschland
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero consequatur dolorum, tempore velit aperiam excepturi atque. Quibusdam non id, corrupti dignissimos quisquam harum ullam aut incidunt quod officiis? Quas!Alias ducimus facere deserunt tempora explicabo aut vitae repellat aperiam, distinctio quia soluta voluptates dicta nam illum. Incidunt corrupti ad, asperiores iure enim nesciunt illo magnam! Quam quisquam accusantium perferendis.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vitae nemo quasi ducimus doloribus voluptates ipsum aut sunt magni, odit distinctio non tempora. Ullam, ratione laudantium. Vel minima ea libero!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, atque similique unde odit officia incidunt, itaque vel amet qui rerum numquam est minima quaerat consequuntur veritatis? Non ullam praesentium odit?Ipsam totam porro magni natus voluptate, voluptatum nulla quidem accusantium sit enim! Deleniti nihil fugiat a esse reiciendis labore accusantium cum, fuga expedita voluptatibus quod natus. Provident maiores quo similique.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vero consequatur dolorum, tempore velit aperiam excepturi atque. Quibusdam non id, corrupti dignissimos quisquam harum ullam aut incidunt quod officiis? Quas!Alias ducimus facere deserunt tempora explicabo aut vitae repellat aperiam, distinctio quia soluta voluptates dicta nam illum. Incidunt corrupti ad, asperiores iure enim nesciunt illo magnam! Quam quisquam accusantium perferendis.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vitae nemo quasi ducimus doloribus voluptates ipsum aut sunt magni, odit distinctio non tempora. Ullam, ratione laudantium. Vel minima ea libero!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, atque similique unde odit officia incidunt, itaque vel amet qui rerum numquam est minima quaerat consequuntur veritatis? Non ullam praesentium odit?Ipsam totam porro magni natus voluptate, voluptatum nulla quidem accusantium sit enim! Deleniti nihil fugiat a esse reiciendis labore accusantium cum, fuga expedita voluptatibus quod natus. Provident maiores quo similique.
