doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socket.io.my.js')
