button.chat-bubble
  label(for="toggle-chat")
    svg.icon(aria-hidden='true')
      use(xlink:href='svg-defs.svg#svg-speech-bubble')

input(type="checkbox" id="toggle-chat")

.chat-module
  header
    unless id
      img(src='/images/me.jpeg' width='50' height='50' alt='Avatar of Andy Hoffman.')
      h1 Talking to Andy

  .chat-body
    ul.messages

  if id
    form(action='' id='my-admin-form' method='POST')
      input(name='message' id='message' aria-label='Enter message.' placeholder='Message…' required)
  else
    form(action='' id='my-form' method='POST')
      input(name='message' id='message' aria-label='Enter message.' placeholder='Message…' required)
