:root {
  --red: #dd0000;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; display: flex; flex-direction: column; min-height: 100vh;}
form { background: #000; }
form input {
  border: 0;
  padding: 1em 1.25em;
  width: 100%;
  outline: none;
  font-size: 120%;
  transition: 0.5s background-color;
  background-color: var(--red);
  border-top: 1px solid rgba(166, 166, 166, .3);
}

form input:focus,
form input:valid {
  background-color: white;
  border-color: rgba(177, 177, 177, .9);
}

input::placeholder {
  color: white;
}

input:focus::placeholder {
  color: black;
}

.svg-symbols {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

svg {
  fill: currentColor;
}

.icon {
  width: 100%;
  height: 100%;
}

h1, h2, h3, .menu li {
  font-family: 'Open Sans', sans-serif;
}

body > header {
  background-color: var(--red);
  color: white;
  width: 100%;
  padding-bottom: 10em;
}

li {
  list-style: none;
}

body > header .inner {
  padding: 1em 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-color: #fff;
  flex-grow: 1;
  margin: -80px 100px 0;
  padding-top: 100px;
  box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
}

main .inner {
  padding: 0 150px;
}

main h2 {
  font-size: 350%;
  margin-bottom: 1em;
}

main p {
  font-size: 17px;
  line-height: 1.88;
  margin-bottom: 1em;
}

footer {
  padding: 1.5em;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  padding: 0 20px;
  text-transform: uppercase;
}

.menu li:last-child {
  padding-right: 0;
}

.breadcrumbs {
  display: flex;
  padding-bottom: 1em;
}

.breadcrumbs li {
  padding-right: 20px;
  position: relative;
}

.breadcrumbs li::before {
  content: '>';
  position: absolute;
  left: -12px;
  color: gray;
  font-size: 85%;
}

.breadcrumbs li:first-child::before {
  content: normal;
}

/*
// Chat styles
*/

.chat-module {
  position: fixed;
  bottom: 100px;
  right: 0;
  width: 300px;
  max-width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 40px rgba(0,0,0,.16);
  transform: translateX(500px);
  opacity: 0;
  transition: 0.5s transform, 0.5s opacity;
  max-height: 70vh;
}

.chat-bubble.active + .chat-module {
  transform: translateX(0);
  opacity: 1;
}

.chat-module header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 1.25em 1.75em;
}

.chat-module-avatar {
  border-radius: 50%;
  margin-right: 10px;
  filter: brightness(1.2);
  background-color: #fff;
}

.typing .chat-module header::after {
  content: '';
  background-color: var(--red);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 61px;
  top: 19px;
  animation: .6s ease-in-out infinite alternate toggleFade;
}

.disconnect #message {
  pointer-events: none;
}

.chat-body {
  padding: 1em 0.5em;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.chat-module h1 {
  color: white;
  font-size: 100%;
  text-transform: uppercase;
}

.chat-bubble {
  position: fixed;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  bottom: 2em;
  right: 2em;
  animation: 2s ease-in-out infinite alternate hover;
  cursor: pointer;
}

.chat-bubble:active {
  color: black;
}

.chat-bubble:focus {
  outline: 1px solid rgba(0,0,0,.5);
  outline-offset: .25em;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
  margin-bottom: 0.5em;
}

.entry.theirs {
  flex-direction: row-reverse;
}

.entry p {
  position: relative;
  background-color: #ddd;
  padding: 0.5em;
  margin: 0 1em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}

.entry:not(.system) p:before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.entry.system p {
  background: var(--red);
  width: 100%;
  max-width: 100%;
  margin: 1em 0 0;
  border-radius: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.entry.theirs p {
  background: #08f;
  color: white;
}

.entry.theirs p:before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}

@keyframes hover {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-20px)
  }
}

@keyframes toggleFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  main {
    margin: -80px 0 0;
    padding-top: 50px;
  }

  main .inner {
    padding: 0 50px;
  }

  body > header {
    padding-bottom: 6.5em;
  }

  body > header .inner {
    padding: 1em 50px;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu li {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  body > header .inner {
    padding: 1em 20px;
  }

  main .inner {
    padding: 0 20px;
  }

  .menu li {
    padding: 0 10px;
    text-align: center;
  }

  .menu li:last-child {
    padding-right: 10px;
  }
}

/* overrides */
.github-fork-ribbon::before {
  background-color: var(--red) !important;
}
